@-webkit-keyframes glowGreen {
  0% {
    box-shadow: 0 0 10px #fff,0 0 20px #fff,0 0 30px #fff,0 0 40px #b6ff00,0 0 70px #b6ff00,0 0 80px #b6ff00,0 0 100px #b6ff00,0 0 150px #b6ff00;
  }

  to {
    box-shadow: 0 0 10px #fff,0 0 20px #fff,0 0 30px #fff,0 0 40px #b6ff00,0 0 70px #b6ff00,0 0 80px #b6ff00,0 0 100px #b6ff00,0 0 150px #b6ff00;
  }
}

@keyframes glowGreen {
  0% {
    box-shadow: 0 0 10px #fff,0 0 20px #fff,0 0 30px #fff,0 0 40px #b6ff00,0 0 70px #b6ff00,0 0 80px #b6ff00,0 0 100px #b6ff00,0 0 150px #b6ff00;
  }

  to {
    box-shadow: 0 0 10px #fff,0 0 20px #fff,0 0 30px #fff,0 0 40px #b6ff00,0 0 70px #b6ff00,0 0 80px #b6ff00,0 0 100px #b6ff00,0 0 150px #b6ff00;
  }
}

@-webkit-keyframes glowRed {
  0% {
    box-shadow: 0 0 10px #fff,0 0 20px #fff,0 0 30px #fff,0 0 40px red,0 0 70px red,0 0 80px red,0 0 100px red,0 0 150px red;
  }

  to {
    box-shadow: 0 0 10px #fff,0 0 20px #fff,0 0 30px #fff,0 0 40px red,0 0 70px red,0 0 80px red,0 0 100px red,0 0 150px red;
  }
}

@keyframes glowRed {
  0% {
    box-shadow: 0 0 10px #fff,0 0 20px #fff,0 0 30px #fff,0 0 40px red,0 0 70px red,0 0 80px red,0 0 100px red,0 0 150px red;
  }

  to {
    box-shadow: 0 0 10px #fff,0 0 20px #fff,0 0 30px #fff,0 0 40px red,0 0 70px red,0 0 80px red,0 0 100px red,0 0 150px red;
  }
}

@-webkit-keyframes glowYellow {
  0% {
    box-shadow: 0 0 10px #fff,0 0 20px #fff,0 0 30px #fff,0 0 40px #ffdd1b,0 0 70px #ffdd1b,0 0 80px #ffdd1b,0 0 100px #ffdd1b,0 0 150px #ffdd1b;
  }

  to {
    box-shadow: 0 0 10px #fff,0 0 20px #fff,0 0 30px #fff,0 0 40px #ffdd1b,0 0 70px #ffdd1b,0 0 80px #ffdd1b,0 0 100px #ffdd1b,0 0 150px #ffdd1b;
  }
}

@keyframes glowYellow {
  0% {
    box-shadow: 0 0 10px #fff,0 0 20px #fff,0 0 30px #fff,0 0 40px #ffdd1b,0 0 70px #ffdd1b,0 0 80px #ffdd1b,0 0 100px #ffdd1b,0 0 150px #ffdd1b;
  }

  to {
    box-shadow: 0 0 10px #fff,0 0 20px #fff,0 0 30px #fff,0 0 40px #ffdd1b,0 0 70px #ffdd1b,0 0 80px #ffdd1b,0 0 100px #ffdd1b,0 0 150px #ffdd1b;
  }
}

@-webkit-keyframes glowBlue {
  0% {
    box-shadow: 0 0 10px #fff,0 0 20px #fff,0 0 30px #fff,0 0 40px #228dff,0 0 70px #228dff,0 0 80px #228dff,0 0 100px #228dff,0 0 150px #228dff;
  }

  to {
    box-shadow: 0 0 10px #fff,0 0 20px #fff,0 0 30px #fff,0 0 40px #228dff,0 0 70px #228dff,0 0 80px #228dff,0 0 100px #228dff,0 0 150px #228dff;
  }
}

@keyframes glowBlue {
  0% {
    box-shadow: 0 0 10px #fff,0 0 20px #fff,0 0 30px #fff,0 0 40px #228dff,0 0 70px #228dff,0 0 80px #228dff,0 0 100px #228dff,0 0 150px #228dff;
  }

  to {
    box-shadow: 0 0 10px #fff,0 0 20px #fff,0 0 30px #fff,0 0 40px #228dff,0 0 70px #228dff,0 0 80px #228dff,0 0 100px #228dff,0 0 150px #228dff;
  }
}

@-webkit-keyframes rotateGame {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}

@keyframes rotateGame {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}

html {
  overflow-y: scroll;
  margin: 0;
  padding: 0;
}

body {
  font-family: Russo One,sans-serif;
  font-size: 16px;
  background: repeating-linear-gradient(45deg,#2b2b2b,#2b2b2b 10%,#222 0,#222 50%) 0/15px 15px;
}

.gameContainer {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 620px;
  height: 620px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #393843;
  border-radius: 400px;
  padding: 10px;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-animation: rotateGame 1.5s ease-out;
  animation: rotateGame 1.5s ease-out;
}

#greenGamePiece {
  border: 150px solid transparent;
  border-top-left-radius: 300px;
  background-color: #b6ff00;
  margin: 0 5px 5px 0;
}

#greenGamePiece,#redGamePiece {
  width: 0;
  height: 0;
  cursor: pointer;
}

#redGamePiece {
  border: 150px solid transparent;
  border-top-right-radius: 300px;
  background-color: red;
  margin: 0 0 5px 5px;
}

#yellowGamePiece {
  width: 0;
  height: 0;
  border: 150px solid transparent;
  cursor: pointer;
  border-bottom-left-radius: 300px;
  background-color: #ffdd1b;
  margin: 5px 5px 0 0;
}

#blueGamePiece {
  width: 0;
  height: 0;
  border: 150px solid transparent;
  cursor: pointer;
  border-bottom-right-radius: 300px;
  background-color: #228dff;
  margin: 5px 0 0 5px;
}

.glowGreen {
  -webkit-animation: glowGreen .8s infinite;
  animation: glowGreen .8s infinite;
}

.glowRed {
  -webkit-animation: glowRed .8s infinite;
  animation: glowRed .8s infinite;
}

.glowYellow {
  -webkit-animation: glowYellow .8s infinite;
  animation: glowYellow .8s infinite;
}

.glowBlue {
  -webkit-animation: glowBlue .8s infinite;
  animation: glowBlue .8s infinite;
}

.onoffswitch {
  position: relative;
  max-width: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.onoffswitch-checkbox {
  display: none;
}

.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #999;
  border-radius: 20px;
}

.onoffswitch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  -webkit-transition: margin .3s ease-in 0s;
  transition: margin .3s ease-in 0s;
}

.onoffswitch-inner:after,.onoffswitch-inner:before {
  display: block;
  float: left;
  width: 50%;
  height: 30px;
  padding: 0;
  line-height: 30px;
  font-size: 14px;
  color: #fff;
  font-family: Trebuchet,Arial,sans-serif;
  font-weight: 700;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.onoffswitch-inner:before {
  content: "ON";
  padding-left: 10px;
  background-color: #34a7c1;
  color: #fff;
}

.onoffswitch-inner:after {
  content: "OFF";
  padding-right: 10px;
  background-color: #eee;
  color: #999;
  text-align: right;
}

.onoffswitch-switch {
  display: block;
  width: 18px;
  height: 18px;
  margin: 6px;
  background: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  border: 2px solid #999;
  border-radius: 20px;
  -webkit-transition: all .3s ease-in 0s;
  transition: all .3s ease-in 0s;
}

.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}

.cover,.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-switch {
  right: 0;
}

.cover {
  position: absolute;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  background-color: #393843;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.cover,h2 {
  color: #fff;
}

h2 {
  display: block;
  width: 100%;
  text-align: center;
  margin: 25px 0;
}

.playBtn,.resetBtn {
  outline: 0;
  cursor: pointer;
  border-radius: 50%;
  background-color: #ff0;
  width: 50px;
  height: 50px;
  display: block;
  border: 8px solid #000;
  padding: 0;
  margin-left: 10px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.playBtn:hover,.resetBtn:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.resetBtn {
  background-color: orange;
}

.topSection {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.bottomSection,.topSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  width: 100%;
}

.bottomSection p,.topSection p {
  display: block;
  min-width: 100px;
  text-align: center;
}

.round {
  background-color: #000;
  color: red;
  width: 150px;
  height: 50px;
  border-radius: 20px;
  text-align: center;
  line-height: 50px;
  font-size: 1.8rem;
  letter-spacing: .3rem;
}
/*# sourceMappingURL=app.css.map*/