@import 'mixins';
@import 'variables';

@keyframes glowGreen {
    from {
        @include box-shadow-glow(0, 0, 10px, #fff, $green-piece-color);
    }
    to {
        @include box-shadow-glow(0, 0, 10px, #fff, $green-piece-color);
    }
}

@keyframes glowRed {
    from {
        @include box-shadow-glow(0, 0, 10px, #fff, $red-piece-color);
    }
    to {
        @include box-shadow-glow(0, 0, 10px, #fff, $red-piece-color);
    }
}

@keyframes glowYellow {
    from {
        @include box-shadow-glow(0, 0, 10px, #fff, $yellow-piece-color);
    }
    to {
        @include box-shadow-glow(0, 0, 10px, #fff, $yellow-piece-color);
    }
}

@keyframes glowBlue {
    from {
        @include box-shadow-glow(0, 0, 10px, #fff, $blue-piece-color);
    }
    to {
        @include box-shadow-glow(0, 0, 10px, #fff, $blue-piece-color);
    }
}

// ======RESET======
* {
    box-sizing: border-box;
}

html {
    overflow-y: scroll;
    margin: 0;
    padding: 0;
}

//=====BASE STYLES======
body {
    background-color: #222222;
    background: repeating-linear-gradient(45deg, #2b2b2b 0%, #2b2b2b 10%, #222222 0%, #222222 50%) 0 / 15px 15px;
    font-size: 16px;
}

//====GAME
.gameContainer {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 850px;
    height: 840px;
    left: 50%;
    top: 50%;
    margin-top: -400px;
    margin-left: -400px;
    background-color: #393843;
    border-radius: 425px;
    padding: 10px;
}

//======GAME PIECES=====
#greenGamePiece {
    @include gamePieceSize();
    border-top-left-radius: 400px;
    background-color: $green-piece-color;
    margin: 0 10px 10px 0;
}

.glowGreen {
    animation: glowGreen .8s infinite;
}

#redGamePiece {
    @include gamePieceSize();
    border-top-right-radius: 400px;
    background-color: $red-piece-color;
    margin: 0 0 10px 10px;
}

.glowRed {
    animation: glowRed 1s infinite;
}

#yellowGamePiece {
    @include gamePieceSize();
    border-bottom-left-radius: 400px;
    background-color: $yellow-piece-color;
    margin: 10px 10px 0 0;
}

.glowYellow {
    animation: glowYellow 1s infinite;
}

#blueGamePiece {
    @include gamePieceSize();
    border-bottom-right-radius: 400px;
    background-color: $blue-piece-color;
    margin: 10px 0 0 10px;
}

.glowBlue {
    animation: glowBlue 1s infinite;
}

//strict mode switch
.onoffswitch {
    position: relative;
    max-width: 90px;
    display: flex;
    align-items: center;
}

.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #999999;
    border-radius: 20px;
}

.onoffswitch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before,
.onoffswitch-inner:after {
    display: block;
    float: left;
    width: 50%;
    height: 30px;
    padding: 0;
    line-height: 30px;
    font-size: 14px;
    color: white;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
    box-sizing: border-box;
}

.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #34A7C1;
    color: #FFFFFF;
}

.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #EEEEEE;
    color: #999999;
    text-align: right;
}

.onoffswitch-switch {
    display: block;
    width: 18px;
    height: 18px;
    margin: 6px;
    background: #FFFFFF;
    position: absolute;
    top: 0;
    bottom: 0; // right: 56px;
    border: 2px solid #999999;
    border-radius: 20px;
    transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-switch {
    right: 0px;
}

.cover {
    position: absolute;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background-color: #393843;
    top: 50%;
    left: 50%;
    margin-top: -120px;
    margin-left: -120px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    color: white;
}

h2 {
    display: block;
    width: 100%;
    text-align: center;
    color: white;
    margin: 25px 0 25px 0;
}

.playBtn {
    outline: 0;
    border-radius: 50%;
    background-color: yellow;
    width: 50px;
    height: 50px;
    display: block;
    border: 8px solid black;
    padding: 0;
    margin-left: 10px;
}

.resetBtn {
    @extend .playBtn;
    background-color: orange;
}

.topSection {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}

.bottomSection {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.bottomSection p {
    display: block;
    min-width: 100px;
    text-align: center;
}

.center {
    height: 10px;
    width: 10px;
    background-color: white;
}

.round {
    background-color: black;
    color: red;
    width: 150px;
    height: 50px;
    border-radius: 20px;
    text-align: center;
    line-height: 50px;
    font-size: 1.8rem;
    letter-spacing: .3rem;
}
