body {
    background-color: #222;
}

.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 20px 20px;
}

h1 {
    font-size: 80px;
    min-width: 100%;
    margin: 10px 0;
    text-align: center;
    text-transform: uppercase;
    color: white;
    letter-spacing: 5px;
}

#settings {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    margin-bottom: 20px;
}

#start, #reset, #strictChk {
    width: 33.33%;
    text-align: center;
    font-size: 35px;
    padding: 5px 0;
    margin: 0 10px;
    box-shadow: 5px 5px 5px black;
    border-radius: 4px;
    cursor: pointer;
}

#start {
    background-color: green;
    border: 1px solid #436E43;
}

#reset {
    background-color: orange;
    border: 1px solid #7F5200;
}

#strictChk {
    background-color: red;
    border: 1px solid #436E43;
}

.gameContainer {
    display: flex;
    justify-content: center;
    padding: 10px 10px;
}

.game {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: space-between;
    max-width: 825px;
    max-hight: 825px;
    padding: 10px;
    background-color: #333;
    border: 5px solid #888;
    border-radius: 50%;
}

#score {
    position: absolute;
    left: 0;
    top: 46%;
    width: 100%;
    text-align: center;
    font-size: 68px;
    color: white;
    line-height: 70px;
    letter-spacing: 3px;
}

canvas {
    padding: 5px 5px;
    cursor: pointer;
}


/* media queries */

@media (max-width: 450px) {
    h1 {
        font-size: 40px;
    }

    canvas {
        width: 100px;
        height: 100px;
    }

    .game {
        max-width: 225px;
        max-hight: 225px;
    }

    #score {
        top: 35%;
        font-size: 20px;
    }

    #start, #reset, #strictChk {
        font-size: 20px;
    }
}

@media (min-width: 451px) and (max-width: 768px) {
  h1 {
      font-size: 45px;
  }
    canvas {
        width: 250px;
        height: 250px;
    }
    .game {
        max-width: 525px;
        max-hight: 525px;
    }
    #score {
        top: 43%;
        font-size: 50px;
    }
    #start, #reset, #strictChk {
        font-size: 30px;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    h1 {
      font-size: 50px;
  }
  canvas {
        width: 400px;
        height: 400px;
    }
    .game {
        max-width: 825px;
        max-hight: 825px;
    }
}

@media (min-width: 1025px) {
    h1 {
      font-size: 55px;
  }
  canvas {
      width: 500px;
      height: 500px;
  }
  .game {
      max-width: 1025px;
      max-height: 1025px;
  }
  #start, #reset, #strictChk {
      font-size: 40px;
  }
}
