@mixin gamePieceSize() {
    width: 0px;
    height: 0px;
    border: 200px solid transparent;
}

@keyframes glowGreen {
  from {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #B6FF00, 0 0 70px #B6FF00, 0 0 80px #B6FF00, 0 0 100px #B6FF00, 0 0 150px #B6FF00;
  }
  to {
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #B6FF00, 0 0 35px #B6FF00, 0 0 40px #B6FF00, 0 0 50px #B6FF00, 0 0 75px #B6FF00;
  }
}

@keyframes glowRed {
  from {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
  }
  to {
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
  }
}

@keyframes glowYellow {
  from {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FFDD1B, 0 0 70px #FFDD1B, 0 0 80px #FFDD1B, 0 0 100px #FFDD1B, 0 0 150px #FFDD1B;
  }
  to {
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FFDD1B, 0 0 35px #FFDD1B, 0 0 40px #FFDD1B, 0 0 50px #FFDD1B, 20px 0 75px #FFDD1B;
  }
}

@keyframes glowBlue {
  from {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF;
  }
  to {
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
  }
}

body {
    background-color: #222222;
    background: repeating-linear-gradient(45deg, #2b2b2b 0%, #2b2b2b 10%, #222222 0%, #222222 50%) 0 / 15px 15px;
    font-size: 16px;
    box-sizing: border-box;
}

.gameContainer {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 840px;
    height: 840px;
    left: 50%;
    top: 50%;
    margin-top: -400px;
    margin-left: -400px;
    background-color: #393843;
    border-radius: 425px;
    padding: 10px;
}


//game pieces
#greenGamePiece {
    @include gamePieceSize();
    border-top-left-radius: 400px;
    // background-color: #00FF00;
    background-color:  #B6FF00;
    margin-right: 10px;
}

.glowGreen {
    animation: glowGreen .8s infinite;
}

#redGamePiece {
    @include gamePieceSize();
    border-top-right-radius: 400px;
    background-color: #FF0000;
    margin-left: 10px;
}

.glowRed {
    animation: glowRed 1s infinite;
}

#yellowGamePiece {
    @include gamePieceSize();
    border-bottom-left-radius: 400px;
    background-color: #FFFF00;
    margin-right: 10px;
}

.glowYellow {
    animation: glowYellow 1s infinite;
}
#blueGamePiece {
    @include gamePieceSize();
    border-bottom-right-radius: 400px;
    background-color: #0000FF;
    margin-left: 10px;
}

.glowBlue {
    animation: glowBlue 1s infinite;
}

//strict mode switch
.onoffswitch {
    position: relative;
    max-width: 90px;
    display: flex;
    align-items: center;
}

.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #999999;
    border-radius: 20px;
}

.onoffswitch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before,
.onoffswitch-inner:after {
    display: block;
    float: left;
    width: 50%;
    height: 30px;
    padding: 0;
    line-height: 30px;
    font-size: 14px;
    color: white;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
    box-sizing: border-box;
}

.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #34A7C1;
    color: #FFFFFF;
}

.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #EEEEEE;
    color: #999999;
    text-align: right;
}

.onoffswitch-switch {
    display: block;
    width: 18px;
    height: 18px;
    margin: 6px;
    background: #FFFFFF;
    position: absolute;
    top: 0;
    bottom: 0;
    // right: 56px;
    border: 2px solid #999999;
    border-radius: 20px;
    transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-switch {
    right: 0px;
}

.cover {
    position: absolute;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background-color: #393843;
    top: 50%;
    left: 50%;
    margin-top: -120px;
    margin-left: -120px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    color: white;
}

h2 {
    display: block;
    width: 100%;
    text-align: center;
    color: white;
    margin: 25px 0 25px 0;
}

.playBtn, .resetBtn {
    outline: 0;
    border-radius: 50%;
    background-color: yellow;
    width: 50px;
    height: 50px;
    display: block;
    border: 8px solid black;
    padding: 0;
    margin-left: 10px;
}

.resetBtn {
    background-color:orange;
}

.topSection {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}

.bottomSection {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}
.bottomSection p {
    display: block;
    min-width: 100px;
    text-align: center;
}


.round {
    background-color: black;
    color: red;
    width: 100px;
    height: 40px;
    border-radius: 20px;
    text-align: center;
    line-height: 40px;
    font-size: 2rem;
    letter-spacing: .3rem;
}

.center {
    height: 10px;
    width: 10px;
    background-color: white;
}
